.index {
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 43px -1px;
    justify-content: center;
    /* position: relative; */
    padding: 3.5vw 0;
  }
  
  .index .header-instance {
    flex: 0 0 auto !important;
  }
  
  .index .image {
    object-fit: cover;
    position: relative;
    width: 50vw;
    height: auto;
    object-fit: contain;
  }
  
  .index .slogan {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 19px;
    justify-content: center;
    position: relative;
    /* width: 606px; */
  }
  
  .index .LET-s-TO-TOPENG-NEW {
    align-self: stretch;
    color: #ff6b00;
    font-size: 4vw;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
  }
  
  .index .group-2 {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #ff6b00;
    border-radius: 500px;
    height: 80px;
    width: 250px;
  }
  